body header {
  background-color: white;
}
body section header nav h1.titulo {
  text-align: center;
  text-justify: center;
  color: black;
}
body header nav div a img.icononav {
  width: 100px;
  height: 100px;
  align-content: left;
}
body header nav ul {
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: oblique;
  justify-content: right;
  text-align: right;
  text-justify: right;
}
body header nav ul li {
  display: inline-block;
}
body {
  background-image: url(../Imagenes/fondo-textura-lisa-gris.jpg);
}
body main h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align: center;
  color: rgb(0, 0, 0);
}

body main section p.industria {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
body section h2.titulo2 {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
body main section p.industria2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}
body main div div img.galpon {
  width: 300 px;
  height: 300px;
}
footer {
  background-color: white;
  margin-top: 50px;
}

footer div.redes {
  padding-left: 380px;
  align-content: center;
  justify-content: center;
}
footer div p {
  text-align: center;
  justify-content: center;
  margin-left: -30px;
}
body main section h2 {
  align-content: center;
  text-align: center;
}

body main section div p {
  margin-left: 400px;
}
body main section div form fieldset {
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}
body article img {
  margin-left: 300px;
}
body main section div p {
  margin-left: 300px;
}
body article p {
  text-align: justify;
  text-align: center;
  margin-left: -50px;
}
body main section p.ubicacion {
  text-align: center;
  justify-content: center;
  color: black;
}
body main section div iframe.ubicacion {
  margin-left: 300px;
}

body div img.soldador1 {
  width: 350px;
  height: 300px;
  justify-content: center;
  align-content: center;
  margin-left: 250px;
  margin-top: 80px;
}
body main section p.informacion0 {
  text-align: center;
  text-align: justify;
  color: black;
}
body main section div img.soldador {
  margin-left: 200px;
}
body main section p.informacion1 {
  text-align: center;
  text-align: justify;
  color: black;
}
body main section div img.galpon {
  margin-left: 350px;
}
body main section p.informacion2 {
  text-align: center;
  text-align: justify;
  color: black;
}
body main section p.nosotros {
  text-align: center;
  text-align: center;
  align-content: center;
  color: black;
}
body div h2.nosotros {
  text-align: center;
  justify-content: center;
  align-content: center;
}
body div p.nosotros {
  text-align: center;
  justify-content: center;
  align-content: center;
}
body section div iframe.video {
  align-content: center;
  justify-content: center;
  margin-left: 350px;
}
body main section.contenedor {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}
body div.carousel {
  align-content: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-top: 80px;
  margin-left: 100px;
}

body main section div p.contacto1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: center;
  align-content: center;
}
body main div input.enviar {
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 380px;
  border-bottom: 20px;
  background-color: white;
}

body article div.texturaacero1 {
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 400px;
  margin-right: 100px;
  margin-top: 50px;
}
body article p.contacto2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: right;
  align-content: right;
  text-align: right;
}
